.list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 20px;
}

.list li {
  cursor: default;
  list-style: none;
}

.list img {
  cursor: default !important;
  background-color: #232323;
  filter: grayscale(1);
  padding: 1rem 4rem;
  width: 180px;
  border-radius: 10px;
}

.brandsContainer {
  margin-left: 2rem;
}

.list img:hover {
  background-color: var(--orange);
  filter: none;
  cursor: pointer;
}
