.searchBox {
  background-color: rgba(23, 23, 23, 0.8);
  padding: 2rem 4rem;
  width: 60%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
}

.searchBox > h2 {
  margin-bottom: 3rem;
  font-weight: 300;
  text-align: start;
}

.button {
  align-self: flex-start;
}

.inputs {
  margin-bottom: 2.5rem;
}
