.searchBox {
  background-color: rgba(23, 23, 23, 0.8);
  padding: 1.25rem;
  width: 75%;
  border-radius: 4px;
  border-radius: 3px;
}

.searchBox > h2 {
  margin-bottom: 1.25rem;
  font-weight: 300;
  text-align: start;
}

.button {
  width: 100%;
}

.inputs {
  margin-bottom: 1.25rem;
}

.form {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
