.text {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 4rem;
  margin-bottom: 1.25rem;
}

div.mySwiper {
  padding: 0 1.7rem;
}

.text p {
  font-size: 1.25rem;
  font-weight: 300;
}

.text a {
  color: #5c5c5c;
}

.buttons {
  width: 100%;
  position: absolute;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  top: 50%;
}

.buttons span {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

.buttons span:hover {
  color: #ff6600;
}

.slider {
  position: relative;
  margin-bottom: 4rem;
}
