.card {
  display: flex;
  justify-content: center;
  background-color: #171717;
  padding: 2rem;
  border-radius: 10px;
  min-height: 300px;
  flex-direction: column;
}

.card hr {
  margin-top: 2rem;
  height: 1px;
  border: 0;
  background-color: #222222;
}

.card__car {
  display: flex;
  flex-direction: column;
}

.card__car > img {
  width: 200px;
  align-self: center;
}

.card__car > p {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
}

.price {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin-top: 1.25rem;
  align-items: center;
}

.price p {
  font-size: 1.25rem;
}

.price a {
  color: #ff6600;
  text-decoration: none;
  font-weight: 200;
  font-size: 0.8rem;
}

.info {
  display: flex;
  color: #626263;
  justify-content: space-between;
  margin-top: 0.75rem;
}

.info__left img {
  width: 24px;
}

.info__left p,
.info__right p {
  display: flex;
  align-items: center;
}

.info__left svg,
.info__right svg {
  margin-right: 0.5rem;
}
